/*@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

body, h1,h2,button,p{
	font-family: "Montserrat",sans-serif;
	font-weight:700;
	text-align:center;
}

h1 {
	color:white;
	margin:-50px;
	padding-bottom:100px;
	font-weight:700;
}

body {
	background-image:url("backgroundbw.jpeg");
	background-size:100%;
	background-blend-mode:soft-light;
	background-color:rgba(233,78,27,1);
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#image {
	text-align:left;
	background-color:rgba(233,78,27,1);
	border-radius:20px;
	box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
	
}

img {
	margin:15px;
	height:30px;
}

button {
	margin:auto;
	padding:15px;
	margin-top:10px;
	margin-bottom:10px;
	transition-duration: 0.1s;
	border:0px;
	border-radius:5px;
	font-size:20px;
	background-color:#ffffff;
	color:#000000;
	box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}


#buttons {
	padding:20px;
	margin:auto;
	margin-top:3%;
	width:30%;
	background-color:rgba(255,255,255,1);
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

	padding:2%;
	border-radius:30px;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

button:hover {
  /*font-size:21px;*/
  /*box-shadow: 0 8px 10px 0 rgba(0,0,0,0.5), 0 17px 50px 0 rgba(0,0,0,0.19);*/
  background-color:#e94e1b;
  color:#ffffff;
}

button:active {
	background-color:#777777;
}

*:focus {
    outline: none;
}

div#loading {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

input[type=file],input[type=text],input[type=month],input[type=submit] {
	font-family:
	outline:none;
	border:0;
	border-radius:5px;
	border-color:rgba(0,0,0,0.8);
	padding:7px;
	background-color:rgba(225,225,225,1);
	text-align:center;
	
	font-family: "Montserrat",sans-serif;
	font-weight:300;

}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
