@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100") ;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap") ;
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;500;700&display=swap") ;

body,
h1,
h2,
button,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  text-align: center;
}

#sidetitle {
  color: white;
}

h1 {
  font-family: "Raleway", sans-serif;
  margin-left: 20px;
  color: white;
  font-size: 55px;
  font-weight: 700;
  display: inline-block;
}

body {
  background-image: url(backgroundbw.jpeg);
  background-color: #1f1f1f;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#image {
  margin: auto;
  text-align: center;
  display: inline-block;
  margin-top: -30px;
  width: 700px;
  height: 110px;
  border-radius: 0 0 10px 10px;
  background-color: rgba(233, 78, 27, 1);
  box-shadow: 0 5px 5px 0 rgba(233, 78, 27, 0.20000000000000001);
}

img {
  height: 40px;
  width: 105px;
}

button {
  border: 1px solid rgba(233, 78, 27, 1);
  text-align: left;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.10000000000000001s;
  border-radius: 5px;
  font-size: 25px;
  background-color: rgba(200, 55, 10, 0.80000000000000004);
  color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.20000000000000001);
}

#buttons {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  display: block;
}

button:hover {
  background-color: #e94e1b;
  color: #fff;
}

button:active {
  background-color: #777;
}

button:disabled,
button[disabled] {
  background-color: #999;
  color: #222;
}

*:focus {
  outline: none;
}

embed {
  object-fit: fill;
  border-radius: 5px;
  background-color: white;
  width: 400px;
  height: 400px;
  margin-bottom: 20px;
}

div#loading {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

input[type="file"],
input[type="text"],
input[type="month"],
input[type="submit"],
input[type="username"],
input[type="password"] {
  border: 0;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.80000000000000004);
  padding: 7px;
  background-color: rgba(225, 225, 225, 1);
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}
