<head>
   <meta charset='UTF-8'>
   <title>BOIS BETON ACIERS</title>
   <link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='rad.css') }}">
</head>

<body>
   <h1>BOIS BETON ACIER</h1>
   <form action='/bab' method=post id='bab'>
      <table class='table-fill'>
         <thead>
            <tr>
               <th class='text-left'>BOIS</th>
               <th class='text-left'>M² du mois</th>
               <th class='text-left'>M² cumulés</th>
            </tr>
         </thead>
         <tbody class='table-hover'>
            <tr>
               <td class='text-left'>CONTREPLAQUE</td>
               <td class='text-left'><input type='text' form='bab' name="BOIS$CONTREPLAQUE$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BOIS$CONTREPLAQUE$C"></input></td>
            </tr>
            <tr>
               <th class='text-left'>ACIERS</th>
               <th class='text-left'>Dépenses du mois (kg)</th>
               <th class='text-left'>Dépenses cumulées (kg)</th>
               <th class='text-left'>Quantité restante (kg)</th>
            </tr>
            <tr>
               <td class='text-left'>ACIERS HA</td>
               <td class='text-left'><input type='text' form='bab' name="ACIERS$ACIERS HA$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="ACIERS$ACIERS HA$C"></input></td>
               <td class='text-left'><input type='text' form='bab' name="ACIERS$ACIERS HA$R"></input></td>
            </tr>
            <tr>
               <td class='text-left'>TRELLIS</td>
               <td class='text-left'><input type='text' form='bab' name="ACIERS$TRELLIS$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="ACIERS$TRELLIS$C"></input></td>
               <td class='text-left'><input type='text' form='bab' name="ACIERS$TRELLIS$R"></input></td>
            </tr>

            <tr>
               <th class='text-left'>BETON</th>
               <th class='text-left'>Quantité du mois m³</th>
               <th class='text-left'>Quantité cumulées m³</th>
               <th class='text-left'>Quantité restante m³</th>
            </tr>

            <tr>
               <td class='text-left'>BETON</td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON$C"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON$R"></input></td>
            </tr>
            <tr>
               <td class='text-left'>C 25/30</td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C25/30$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C25/30$C"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C25/30$R"></input></td>
            </tr>
            <tr>
               <td class='text-left'>C 30/37</td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C30/37$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C30/37$C"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C30/37$R"></input></td>
            </tr>
            <tr>
               <td class='text-left'>C 40/50</td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C40/50$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C40/50$C"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C40/50$R"></input></td>
            </tr>
            <tr>
               <td class='text-left'>C 50/60</td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C50/60$M"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C50/60$C"></input></td>
               <td class='text-left'><input type='text' form='bab' name="BETON$BETON C50/60$R"></input></td>
            </tr>
         </tbody>
      </table>
      
      
      <input type='submit' id='confirm' value='Confirmer' form='bab'></input>
   </form>
