<!DOCTYPE HTML>    <html>        <head>            <meta charset='UTF-8'>            <title>Erreurs</title>            <link rel='stylesheet'             type='text/css'             href="{{ url_for("static",filename="index.css")}}"></head>        <body>            <h1> Erreurs </h1>            <div id='errors'><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 14:21:37] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p>Compte 625100 pas dans le plan comptable
</p><p>
</p><p>Compte 218310 pas dans le plan comptable
</p><p>
</p><p>Compte 645700 pas dans le plan comptable
</p><p>
</p><p>Compte 612900 pas dans le plan comptable
</p><p>
</p><p>Compte 631300 pas dans le plan comptable
</p><p>
</p><p>Compte 641200 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 14:30:56] "[37mPOST /synthese_structure HTTP/1.1[0m" 200 -
</p><p>Pas de budget associé a ce chantier
</p></div><div id='passer'>                <form id='continuer' method=get action='/rad'>                    <input type='submit' value='Continuer quand même'></input>                </form><br><form id='menu' method=get action='/'>                    <input type='submit' value='Retour au menu'></input>                    </form></div></body></html>