<!DOCTYPE HTML>    <html>        <head>            <meta charset='UTF-8'>            <title>Erreurs</title>            <link rel='stylesheet'             type='text/css'             href="{{ url_for("static",filename="index.css")}}"></head>        <body>            <h1> Erreurs </h1>            <div id='errors'><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:02] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/dataprocess/worksite.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:39] "[35m[1mPOST /synthese_divers HTTP/1.1[0m" 500 -
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:39] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=debugger.js HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:39] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=style.css HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:39] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=jquery.js HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:39] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:40] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=ubuntu.ttf HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 15:43:40] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/dataprocess/worksite.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 15:49:52] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/__init__.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 15:51:21] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/dataprocess/worksite.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:10] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/dataprocess/worksite.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:34] "[35m[1mPOST /synthese_divers HTTP/1.1[0m" 500 -
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:34] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=style.css HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:34] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=jquery.js HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:34] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=debugger.js HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:34] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:35] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=ubuntu.ttf HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:35] "[37mGET /synthese_divers?__debugger__=yes&cmd=resource&f=console.png HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/dataprocess/worksite.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 16:24:56] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/dataprocess/worksite.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 16:25:43] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/__init__.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 16:32:33] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/__init__.py', reloading
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 604101 pas dans le plan comptable
</p><p>
</p><p>Compte 611400 pas dans le plan comptable
</p><p>
</p><p>Compte 611100 pas dans le plan comptable
</p><p>
</p><p>Compte 616330 pas dans le plan comptable
</p><p>
</p><p>Compte 606140 pas dans le plan comptable
</p><p>
</p><p>Compte 627500 pas dans le plan comptable
</p><p>
</p><p>Compte 612600 pas dans le plan comptable
</p><p>
</p><p>Compte 627000 pas dans le plan comptable
</p><p>
</p><p>Compte 641108 pas dans le plan comptable
</p><p>
</p><p>Compte 641110 pas dans le plan comptable
</p><p>
</p><p>Compte 623800 pas dans le plan comptable
</p><p>
</p><p>Compte 635140 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 654000 pas dans le plan comptable
</p><p>
</p><p>Compte 603100 pas dans le plan comptable
</p><p>
</p><p>Compte 611448 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [09/Jun/2021 16:32:52] "[37mPOST /synthese_divers HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/dataprocess/worksite.py', reloading
</p><p>Pas de budget associé a ce chantier
</p></div><div id='passer'>                <form id='continuer' method=get action='/rad'>                    <input type='submit' value='Continuer quand même'></input>                </form><br><form id='menu' method=get action='/'>                    <input type='submit' value='Retour au menu'></input>                    </form></div></body></html>