<!DOCTYPE HTML>    <html>        <head>            <meta charset='UTF-8'>            <title>Erreurs</title>            <link rel='stylesheet'             type='text/css'             href="{{ url_for("static",filename="index.css")}}"></head>        <body>            <h1> Erreurs </h1>            <div id='errors'><p>127.0.0.1 - - [04/Jun/2021 11:09:28] "[37mGET / HTTP/1.1[0m" 200 -
</p><p>Compte 608301 pas dans le plan comptable
</p><p>
</p><p>127.0.0.1 - - [04/Jun/2021 11:09:32] "[37mPOST /rad HTTP/1.1[0m" 200 -
</p><p>127.0.0.1 - - [04/Jun/2021 11:09:34] "[37mPOST /synthese_globale HTTP/1.1[0m" 200 -
</p><p> * Detected change in '/home/vidan/DGB_Gesfin/app/__init__.py', reloading
</p><p>Compte 608301 pas dans le plan comptable
</p><p>
</p></div><div id='passer'>                <form id='continuer' method=get action='/rad'>                    <input type='submit' value='Continuer quand même'></input>                </form><br><form id='menu' method=get action='/'>                    <input type='submit' value='Retour au menu'></input>                    </form></div></body></html>