<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DGB Gestion Financière</title>
		<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='index.css') }}">
	</head>
	
	<body>
		<h1>DGB Gestion Financière</h1>
		<div id="buttons">
			
			<input type="month"></input>
			<br>
			<button> Synthèse Globale </button>
			<button onclick="window.location.href='/pdf'"> Synthèse d'un chantier </button><br>
			<input type="text" placeholder="Code Chantier"></input>
			<br><br>
			<input type="submit"></input>

			<button> Bilan de la structure </button>
			<button onclick="window.location.href='/upload'"> Importer Fichiers </button>
			<button onclick="window.location.href='/bibliotheque'"> Bibliothèque </button> 
		</div><br>
		<p> Dernière mise à jour du plan comptable : dd/mm/yyyy </p>
		<p> Dernière mise a jour du fichier de charges : dd/mm/yyyy </p>
	</body>
</html>
