<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<title>DGB Gestion Financière</title>
		<link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='index.css') }}">
		<script src="{{ url_for('static',filename='index.js')}}"></script>
	</head>
	
	<body>	
		<h1>S'identifier</h1>
		<div id="buttons">
			<form action="" method= "POST">
				<p id="sidetitle"> Utilisateur <input type = "username" name = "username" /></p>
				<p id = "sidetitle"> Mot de passe <input type = "password" name = "password"/></p>
				<p><input type = "submit" value = "Valider" /></p>
			</form>
		</div>
	</body>
</html>
