<!DOCTYPE HTML>
<head>
	<meta charset="UTF-8">
	<title>Rentrer Reste a dépenser</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='rad.css') }}">
</head>

<body>
	<div class="title">
		<h1> Bilan MO | 19-GP-ROSN | Juin 2020</h1>
	</div>
<table class="table-fill">
	<thead>
		<tr>
			<th class="text-left">Sous-poste</th>
			<th class="text-left">Budget</th>
			<th class="text-left">Dépenses de l'année</th>
			<th class="text-left">Dépenses du mois</th>
			<th class="text-left">Reste à dépenser</th>
		</tr>
	</thead>
	<tbody class="table-hover">
		<tr>
			<td class="text-left">Materiaux</td>
			<td class="text-left">€ 580.00</td>
			<td class="text-left">€ 7200.00</td>
			<td class="text-left">€ 150.00</td>
			<td class="text-left"> <input type="text"></input> </td>
		</tr>
		<tr>
			<td class="text-left">Prefa</td>
			<td class="text-left">€ 512.00</td>
			<td class="text-left">€ 2500.00</td>
			<td class="text-left">€ 451.00</td>
			<td class="text-left"> <input type="text"></input> </td>
		</tr>
		<tr>
			<td class="text-left">Outillage</td>
			<td class="text-left">€ 950.00</td>
			<td class="text-left">€ 1200.00</td>
			<td class="text-left">€ 125.00</td>
			<td class="text-left"> <input type="text"></input> </td>
		</tr>
		<tr>
			<td class="text-left">Escaliers</td>
			<td class="text-left">€ 450.00</td>
			<td class="text-left">€ 4855.00</td>
			<td class="text-left">€ 420.00</td>
			<td class="text-left"> <input type="text"></input> </td>
		</tr>
		<tr>
			<td class="text-left">Rupteurs</td>
			<td class="text-left">€ 875.00</td>
			<td class="text-left">€ 10520.00</td>
			<td class="text-left">€ 1052.00</td>
			<td class="text-left"> <input type="text"></input> </td>
		</tr>
	</tbody>
</table>
</body>
