<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">

		<title>DGB Gestion Financière</title>
		
	</head>
	<body>
		<h1>Imports</h1>
		<div id="buttons">

		<form method=post enctype=multipart/form-data>
			
			<p id='sidetitle'>Plan Comptable</p>
			<input type=file name='PlanComptable'>

			<p id='sidetitle'>Charges</p>
			<input type=file name='Charges'>

			<p id='sidetitle'>Budget</p>
			<input type=file name='Budget'>
			
			<p id='sidetitle'>Masse Salariale</p>
			<input type=file name='MasseSalariale'>

			<br><br>
			<input type=submit value=Envoyer>
		
		</form>
		</div>
	</body>
</html>
