<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='upload.css') }}">

		<title>DGB Gestion Financière</title>
		
	</head>
	<body>
		<h1>DGB Gestion Financière</h1>
		
		<form method=post enctype=multipart/form-data>
			
			<p>Plan Comptable</p>
			<input type=file name=plan>

			<p>Charges</p>
			<input type=file name=charges>

			<p>Budget</p>
			<input type=file name=budget>
			
			<br><br>
			<input type=submit value=Envoyer>
		
		</form>

	</body>
</html>
